.search-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 8px;
  height: 44px;
  border: 1px solid transparent;
  margin: 0 20px;
  flex: 1;
  max-width: 1000px;
  overflow: visible;
  z-index: 10020;
}

.search-section {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  background: var(--muted-bg);
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid transparent;
  z-index: 100000;
}

.search-section:focus-within {
  border: 1px solid var(--accent-color);
  border-radius: 8px 8px 0px 8px;
}

.search-section select {
  border: none;
  background: #e4e6eb;
  padding-left: 8px;
  margin-right: 10px;
  height: 100%;
  border-right: 1px solid var(--divider-color);
  font-size: 14px;
  outline: none;
  cursor: pointer;
  transition: width 0.2s ease;
}

.search-section input {
  flex: 1;
  border: none;
  height: 100%;
  padding: 8px 15px;
  font-size: 15px;
  outline: none;
  background: transparent;
}

.search-section .search-btn {
  background: var(--accent-color);
  border: none;
  padding: 8px 18px;
  cursor: pointer;
  height: 100%;
  font-size: 16px;
  transition: background 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 44px;
  line-height: 0;
  flex-shrink: 0;
  z-index: 10023;
}

.search-section .search-btn:hover {
  background: var(--secondary-color);
  color: #fff;
}

.search-wrapper.mobile-visible {
  display: none;
}

@media screen and (max-width: 860px) {
  .search-wrapper {
    display: none;
  }
  .search-wrapper.mobile-visible {
    display: flex;
    width: calc(100% - 40px);
    margin: 8px 20px;
    z-index: 10020;
  }
}

@media screen and (max-width: 480px) {
  .search-wrapper.mobile-visible {
    margin: 8px 10px;
    width: calc(100% - 20px);
  }
  .search-section {
    min-width: 0;
  }

  .search-section select {
    flex-shrink: 1;
    width: 70px;
  }

  .search-section input {
    flex-shrink: 1;
    min-width: 60px;
  }

  .search-section .search-btn {
    flex-shrink: 0;
  }
}
