.shop-category-section {
  display: flex;
  flex-direction: column;
  background: #f4f4f4;
  padding: 60px 40px;
  text-align: center;
}

.shop-category-heading {
  display: flex;
  width: 100%;
  justify-content: start;
  font-size: 28px;
  font-weight: 700;
  color: #111;
  margin-bottom: 40px;
  text-align: start;
}
