.footer {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;
  background-color: #1f2a38;
  font-size: 1.5rem;
  font-weight: 400;
  color: white;
  text-align: center;
  padding: 50px;
}

.logo {
  font-size: 2.5rem;
  display: flex;
  gap: 20px;
  padding-bottom: 20px;
}

.logo a {
  color: white;
}

.logo a:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease;
}

@media (max-width: 860px) {
  .footer {
    font-size: 1rem;
  }
  .logo {
    font-size: 1.75rem;
  }
}
