/* ========== Global Variables ========== */
:root {
  /*====== Navbar variables =====*/
  --primary-color: #034c2c;
  --secondary-color: #007b3d;
  --accent-color: #90ee90;
  --text-color: #333;
  --bg-color: #ffffff;
  --muted-bg: #f6f6f6;
  --divider-color: #ddd;
  --light-text: #a0f0a0;
  --font-family: "Poppins", sans-serif;
  --navbar-height: 60px;
  --mobile-nav-height: 60px;

  /*====== Hero Section variables =====*/
  --primary-green: #0d5030;
  --light-green: #004e2d;
  --button-green: #04391f;
  --text-color: #0c4027;
  --white: #fff;
}

/* ========== Global Reset ========== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

body {
  background-color: var(--bg-color);
  line-height: 1.5;
}

.App {
  min-height: 100vh;
}
